.not-visible {
    display: none;
}

.dz {
    border: dashed !important;
    border-color: #ccc !important;
    border-radius: 10px !important;
}
.dz:hover {
    background-color: aliceblue !important;
}

.transparent-btn {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}