{% url 'posts:main-board' as path_to_home %}
{% url 'profiles:my-profile' as path_to_my_profile %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path_to_home}}">Django_Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    {% if request.user.is_staff %}
                        <li class="nav-item">
                        <a class="nav-link" href="/admin/">Admin Panel</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == path_to_home %}active{% endif %}" aria-current="page" href="{{path_to_home}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == path_to_my_profile %}active{% endif %}" href="{{path_to_my_profile}}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}" style="display: inline;">
                            {% csrf_token %}
                            <button class="btn btn-link nav-link" type="submit">Logout</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>